<section class="inner">
	<h2 class="section-ttl">ユーザー詳細</h2>
	<% if @customer == current_customer %>
          <%= render 'public/customers/show_mypage' %>
        <% else %>
          <%= render 'public/customers/show_other' %>
    <% end %>
	<%#= paginate @customers %>
</section>