<div class="row">
  	<div class="col-1">
  	</div>
  	<div class="col-8 mt-3">
  	  <table class="table">
  	  <thead>
  	  	<tr>
  	  		<th style="background-color: #F2F2F2;">タイトル</th>
  	  		<th style="background-color: #F2F2F2;">本文</th>
  	  		<th style="background-color: #F2F2F2;">画像</th>
  	  		<th style="background-color: #F2F2F2;">ジャンル</th>
  	  	</tr>
  	  </thead>
  	  <tbody>
  	   <% news_letters.each do |admin_news_letter| %>
  	     <tr>
  	     	<td align="center"><%= link_to admin_news_letter.news_title, admin_news_letter_path(admin_news_letter), class: "underline" %></td>
  	     	<td align="center"><%= admin_news_letter.news_text %></td>
  	     	<td align="center"><%= image_tag admin_news_letter.image, size:'300x200' %></td>
  	     	<td align="center"><%= admin_news_letter.genre.name %></td>
  	     </tr>
  	   <% end %>
  	  </tbody>
  	</table>
  </div>
 </div>